body {
    padding: 0 auto;
    margin: 0;
}

.header {
    background-color: #86f09d;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 10px;
    height: 50px;
}

.menu strong {
    padding: 5px;
    display: flex;
}

.menu {
    font-family: 'Times New Roman', Times, serif;
    background-color: #b40c0c;
    color: #ffffff;
    padding: 5px;
    height: 30px;
    border: 1px solid #360000;
}

#colunas {
    display: flex;
    height: 407px;
}

.submenu,
.col1,
.col2,
.col3 {
    width: 25%;
    text-align: center;
}

.submenu {
    background-color: #f06f6f;
    border-style: dotted;
    border-left-width: 0;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.submenu p {
    margin-bottom: 1px;
    color: #ffffff;
    font-size: 200%;
    text-align: center;
}

.submenu ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 150%;
}

.submenu ul li {
    color: #ffffff;
    margin-top: 25px;
}

.submenu ul li a:hover {
    transition: 0.5s;
    text-decoration: underline;
    color: #b40c0c;
    padding: 10px;
}

.col1 {
    border-style: dotted;
    border-left-width: 1px;
    border-right-width: 0;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.col2 {
    border-style: dotted;
    border-right-width: 0;
    border-left-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.col3 {
    border-style: dotted;
    border-left-width: 1px;
    border-top-width: 1px;
    border-right-width: 0;
    border-bottom-width: 1px;
}

.col3 img {
    padding: 10px;
    border: 1px solid;
}

#footer {
    background-color: #86f09d;
    text-align: center;
    margin: 0;
    padding: 10px;
    height: 50px;
    color: #ffffff;
}